body{
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: auto;
}

image{
    width: 100%;
}
ul{
    list-style: none;
}

p{
    color:brown;
}

form{
    display: flex;
    flex-direction: column;
}